<h1>All Events</h1>
The current user is <%= session[:current_user_name] %>.<br>
Past events:<br>
<% @events.past.each do |event| %>
  <%= event.description %><br>
<% end %>
Upcoming events:<br>
<% @events.upcoming.each do |event| %>
  <%= event.description %><br>
<% end %>